.v{
  
  background-color: #f0f2f5;
  border: 1px solid gray ; 
  margin-right:  5px;
  margin-bottom: 10px;
  width: 17%;
  height: 85%;
border-radius: 6px;
margin-left: 6px;
box-shadow:   0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

}
.sda{
  font-weight: bold;
}